
$nickel:#292b2d;
$white:#fff;
$negro:#000;
$rosa1:#e56353;
$ruddyPink:#D76C69;
$gris:#5A6268;
$grisClaro:#dadddd;

/*sobrescritura de bootstrap*/
$pagination-color:                  #4c5257;
$pagination-border-color:           #c8caca;
$pagination-active-bg:              $gris;

