.navegador{
    background-color: $negro;
    color:$white;
    padding: 2%;

    &__img{
        padding-left: 10%;
        width:18%;
    }

    &__ul{
        padding-left: 50%;
    }

    &__a:link,  &__a:visited{
        text-decoration: none;
         color:$white;  
         font-size: 150%;
    }

    &__a:active{
        text-decoration: none;
         color:$rosa1;  
    }

    &__a{
        padding-left: 2rem;
    }

    &__boton{
        color:$white;
        border-color: $white;
    }
}